@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1280px;
  font-family: 'PT Sans', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header,
.main-index {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.page-header {
  display: flex;
}

.header-link {
  position: absolute;
  margin-right: 30px;
  margin-left: 70px;
}

.navigation {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 960px;
  margin-left: 238px;
}

.navigation-list,
.advantages-list,
.recommendations-list,
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-list {
  width: 460px;
}

.navigation-link,
.contacts-phone {
  text-decoration: none;
  color: #000;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 16px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-content {
  justify-content: flex-end;
  max-width: 300px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-content .navigation-item {
  min-width: 44px;
  min-height: 64px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-content
.navigation-item:first-child {
  background-image: url('../images/logo-search.svg');
}

.navigation-content
.navigation-item:nth-child(2) {
  background-image: url('../images/logo-favorite.svg');
}

.navigation-content
.navigation-link {
  padding: 22px 12px;
  min-height: 20px;
}

.button {
  display: inline-block;
  color: #fff;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
}

.button-navigation {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  margin-left: 20px;
  margin-top: 16px;
}

.button-navigation:hover  {
  background-color: #615048;
}

.button-navigation:focus {
  background-color: #615048;
}

.button-navigation:active {
  background-color: #756157;
}

.favorite-counter-text {
  font-size: 10px;
  line-height: 10px;
}

.favorite-counter {
  display: flex;
  position: absolute;
  left: 20px;
  top: 11px;
  align-items: center;
  justify-content: center;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
}

.main-container {
  flex-grow: 1;
}

.wrapper-welcome {
  background-image: url('../images/background-welcome.jpg');
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 485px;
  width: 1200px;
  margin: auto;
  margin-bottom: 69px;
}

.welcome-image {
  margin-top: 51px;
  margin-bottom: 20px;
}

.advantages-header {
  display: block;
  box-sizing: border-box;
  min-height: 282px;
  padding: 69px 273px 90px 272px;
}

.advantages-header-title,
.search-hotel-title,
.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-header-title {
  margin-bottom: 25px;
}

.advantages-header-description,
.advantages-item-description,
.search-hotel-description,
.recommendations-description {
  color: #333333;
  margin: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item,
.recommendations-item {
  position: relative;
}

.advantages-item:first-child {
  grid-column: 1 / -1;
}

.advantages-item:last-child {
  grid-column: 1 / -1;
}

.advantages-item-wrapper {
  display: block;
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 92px 85px 111px 85px;
}

.advantages-item-title,
.recommendations-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
  margin: 0 auto;
  padding: 0 25px 62px 25px;
}

.advantages-item-title::after {
  content: "";
  position: absolute;
  top: 180px;
  left: 170px;
  background-color: #fff;
  height: 2px;
  width: 60px;
}

.advantages-item:last-child
.advantages-item-title::after {
  left: auto;
  right: 170px;
}

.advantages-item:not(:first-child):not(:last-child)
.advantages-item-title::after {
  background-color: rgba(0, 0, 0, 0.3);
  top: 191px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
}

.recommendations-title {
  padding-bottom: 30px;
}

.recommendations-title::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
}

.recommendations-item:first-child
.recommendations-title::before {
  background-image: url('../images/recommendations/accommodation-recommendations.svg');
}

.recommendations-item:nth-child(2)
.recommendations-title::before {
  background-image: url('../images/recommendations/food-recommendations.svg');
}

.recommendations-item:last-child
.recommendations-title::before {
  background-image: url('../images/recommendations/recommendations-souvenirs.svg');
}

.advantages-item,
.recommendations-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:first-child,
.advantages-item:last-child {
  display: flex;
  background-color: #82B3D3;
}

.advantages-item:first-child h3,
.advantages-item:last-child h3 {
  color: #fff;
}

.advantages-item:first-child p,
.advantages-item:last-child p {
  color: #fff;
}

.recommendations-item,
.advantages-item:not(:last-child):not(:first-child) {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 103px 84px 121px 84px;
}

.recommendations-item {
  padding: 182px 85px 80px 85px;
}

.recommendations-item:first-child {
  padding-left: 110px;
  padding-right: 110px;
}

.advantages-item-description,
.recommendations-description {
  font-size: 18px;
  line-height: 21px;
}

.search-hotel {
  display: block;
  box-sizing: border-box;
  padding: 96px 304px;
}

.search-hotel-description {
  margin: 0;
  margin-bottom: 54px;
}

.search-hotel-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.search-hotel-button:hover {
  background-color: #615048;

}

.search-hotel-button:focus {
  background-color: #615048;
}

.search-hotel-button:active {
  background-color: #756157;
}

.newsletter {
  background-image: url('../images/background-subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 96px 258px 104px 258px;
}

.newsletter-description {
  margin: 0 70px 54px 70px;
}

.newsletter-form {
  display:grid;
  grid-template-columns: 452px 232px;
}

.newsletter-form-field {
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.newsletter-button {
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus {
  background-color: #68A2CA;
}

.newsletter-button:active {
  background-color: #82B3D3;
}

.newsletter-button:disabled {
  background-color: #E5E5E5;
}

.page-footer {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
  padding: 40px 70px 30px 70px;
}

.footer-social {
  width: 144px;
}

.footer-social-item {
  min-width: 48px;
  min-height: 40px;
}

.footer-social-logo {
  fill: #83B3D3;
}

.footer-social-logo:hover {
  fill: #68A2CA;
}

.footer-social-logo:focus {
  fill: #68A2CA;
}

.footer-social-logo:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 333px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-developer {
  width: 115px;
}

.footer-developer-logo {
  fill: #000
}

.footer-developer-logo:hover  {
  fill: #756157;
}

.footer-developer-logo:focus {
  fill: #756157;
}

.footer-developer-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}
