@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1280px;
  font-family: 'PT Sans', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header,
.main-index {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.page-header {
  display: flex;
}

.header-link {
  position: absolute;
  margin-right: 30px;
  margin-left: 70px;
}

.navigation {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 960px;
  margin-left: 238px;
}

.navigation-list,
.advantages-list,
.recommendations-list,
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-list {
  width: 460px;
}

.navigation-link,
.button,
.contacts-phone {
  text-decoration: none;
  color: #000;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
}

.navigation-content {
  justify-content: flex-end;
  max-width: 300px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-content .navigation-item {
  min-width: 44px;
  min-height: 64px;
}

.navigation-content .navigation-link {
  padding: 22px 12px;
}

.button {
  color: #fff;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-navigation {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  margin-left: 20px;
  margin-top: 16px;
}

.favorite-counter-text {
  font-size: 10px;
  line-height: 10px;
}

.favorite-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
}

.main-container {
  flex-grow: 1;
}

.wrapper-welcome {
  background-image: url('../images/background-welcome.jpg');
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 485px;
  width: 1200px;
  margin: auto;
  margin-bottom: 69px;
}

.welcome-image {
  margin-top: 51px;
  margin-bottom: 20px;
}

.advantages-header {
  display: block;
  box-sizing: border-box;
  min-height: 282px;
  padding: 69px 273px 90px 272px;
}

.advantages-header-title,
.search-hotel-title,
.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-header-description,
.advantages-item-description,
.search-hotel-description,
.recommendations-description {
  color: #333333;
  margin: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item:first-child {
  grid-column: 1 / -1;
}

.advantages-item:last-child {
  grid-column: 1 / -1;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-wrapper {
  display: block;
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 92px 85px 111px 85px;
}

.advantages-item-title,
.recommendations-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
  width: 171px;
  margin: 0 auto;
  padding-bottom: 62px;
}

.recommendations-title {
  padding-bottom: 30px;
}

.advantages-item,
.recommendations-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:first-child,
.advantages-item:last-child {
  display: flex;
  background-color: #82B3D3;
}

.advantages-item:first-child h3,
.advantages-item:last-child h3 {
  color: #fff;
}

.advantages-item:first-child p,
.advantages-item:last-child p {
  color: #fff;
}

.recommendations-item,
.advantages-item:not(:last-child):not(:first-child) {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 92px 85px 111px 85px;
}

.advantages-item-description,
.recommendations-description {
  font-size: 18px;
  line-height: 21px;
}

.search-hotel {
  display: block;
  box-sizing: border-box;
  padding: 96px 304px;
}

.search-hotel-title {
  margin-bottom: 20px;
}

.search-hotel-description {
  margin-bottom: 54px;
}

.search-hotel-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  padding: 8px 50px;
}

.newsletter {
  background-image: url('../images/background-subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 96px 258px 104px 258px;
}

.newsletter-form {
  display:grid;
  grid-template-columns: 452px 232px;
}

.field {
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.newsletter-title {
  margin-bottom: 20px;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-button {
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  padding: 8px 50px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
  padding: 40px 70px 30px 70px;
}

.footer-social {
  width: 144px;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  min-width: 48px;
  min-height: 40px;
}

.footer-contacts {
  width: 331px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-developer {
  width: 115px;
  margin-right: 70px;
}
