@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header,
.main-index,
.main-inner {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
}

.header-link {
  position: absolute;
  margin-right: 30px;
  margin-left: 70px;
}

.navigation {
  display: flex;
  width: 960px;
  margin-left: 238px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-list,
.advantages-list,
.recommendations-list,
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list {
  width: 460px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover,
.navigation-link:focus-visible {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-content {
  justify-content: flex-end;
  max-width: 300px;
  margin-right: 68px;
  margin-left: auto;
}

.navigation-content .navigation-item {
  min-width: 44px;
  min-height: 64px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-content .navigation-link {
  height: 20px;
  padding: 22px 12px;
}

.navigation-search-icon path,
.navigation-favorite-icon path {
  fill: #000000;
}

.navigation-link:hover .navigation-search-icon path,
.navigation-link:hover .navigation-favorite-icon path {
  fill: #756157;
}

.navigation-link:focus-visible .navigation-search-icon path,
.navigation-link:focus-visible .navigation-favorite-icon path {
  fill: #756157;
}

.navigation-link:active .navigation-search-icon path,
.navigation-link:active .navigation-favorite-icon path {
  fill: rgba(117, 97, 87, 0.3);
}

.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.button:focus-visible {
  outline: none;
}

.button-navigation {
  margin-top: 14px;
  margin-left: 20px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.button-navigation:hover,
.button-navigation:focus-visible {
  background-color: #615048;
}

.button-navigation:active {
  color: rgba(255, 255, 255, 0.3);
}

.favorite-counter {
  position: absolute;
  top: 11px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.favorite-counter-text {
  font-size: 10px;
  line-height: 10px;
}

.wrapper-welcome {
  width: 1200px;
  height: 485px;
  margin: auto;
  background-color: #82b3d3;
  background-image: url("../images/background-welcome.jpg");
  background-repeat: no-repeat;
}

.wrapper-welcome::after {
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider-welcome.svg");
  background-repeat: no-repeat;
  content: "";
}

.welcome-image {
  margin-top: 51px;
  margin-bottom: 20px;
}

.advantages-header {
  display: block;
  box-sizing: border-box;
  min-height: 282px;
  padding: 69px 273px 90px 272px;
}

.advantages-header-title,
.search-hotel-title,
.newsletter-title,
.modal-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-header-title {
  margin-bottom: 25px;
}

.advantages-header-description,
.advantages-item-description,
.search-hotel-description,
.recommendations-description {
  margin: 0;
  color: #333333;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item,
.recommendations-item {
  position: relative;
}

.advantages-item,
.recommendations-item:not(.recommendations-item-food) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-darker {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-street,
.advantages-item-canyon {
  grid-column: 1 / -1;
  display: flex;
  background-color: #82b3d3;
}

.advantages-item-street h3,
.advantages-item-canyon h3,
.advantages-item-street p,
.advantages-item-canyon p {
  color: #ffffff;
}

.advantages-item-wrapper {
  display: block;
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 92px 85px 111px 85px;
}

.advantages-item-title,
.recommendations-title {
  margin: 0 auto;
  padding: 0 29px 62px 29px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-title::after {
  position: absolute;
  top: 178px;
  left: 170px;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  content: "";
}

.advantages-item-canyon .advantages-item-title::after {
  left: auto;
  right: 170px;
}

.advantages-item:not(.advantages-item-street):not(.advantages-item-canyon),
.recommendations-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 103px 84px 121px 84px;
}

.advantages-item:not(.advantages-item-street):not(.advantages-item-canyon) .advantages-item-title::after {
  top: 190px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-description,
.recommendations-description {
  font-size: 18px;
  line-height: 21px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
}

.recommendations-title {
  padding-bottom: 30px;
}

.recommendations-title::before {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  background-repeat: no-repeat;
  content: "";
}

.recommendations-item {
  padding: 182px 85px 80px 85px;
}

.recommendations-item-accommodation {
  padding-left: 110px;
  padding-right: 110px;
}

.recommendations-item-accommodation .recommendations-title::before {
  background-image: url("../images/recommendations/accommodation-recommendations.svg");
}

.recommendations-item-food .recommendations-title::before {
  background-image: url("../images/recommendations/food-recommendations.svg");
}

.recommendations-item-souvenirs .recommendations-title::before {
  background-image: url("../images/recommendations/recommendations-souvenirs.svg");
  top: 78px;
  left: 10px;
}

.search-hotel {
  display: block;
  box-sizing: border-box;
  padding: 96px 304px;
}

.search-hotel-description {
  margin: 0;
  margin-bottom: 54px;
}

.search-hotel-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.search-hotel-button:not(:last-child) {
  margin-bottom: 5px;
}

.search-hotel-button:hover,
.search-hotel-button:focus-visible {
  background-color: #615048;
}

.search-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter {
  padding: 96px 258px 104px 258px;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-without-background {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.newsletter-description {
  margin: 0 70px 54px 70px;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
}

.field {
  box-sizing: border-box;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field:active {
  outline: 2px solid #000000;
}

.newsletter-form-field {
  width: 452px;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
}

.newsletter-form-field:active {
  outline: 2px solid #83b3d3;
}

.newsletter-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #83b3d3;
  border-radius: 0 4px 4px 0;
}

.newsletter-button:hover,
.newsletter-button:focus-visible {
  background-color: #68a2ca;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3)
}

.newsletter-button:disabled {
  background-color: #e5e5e5;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1200px;
  margin: auto;
  padding: 40px 70px 30px 70px;
  background-color: #ffffff;
}

.footer-social,
.footer-contacts {
  padding-top: 5px;
}

.footer-social {
  width: 144px;
}

.footer-social-link {
  position: relative;
  display: block;
  width: 48px;
  min-height: 40px;
}

.footer-social-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-social-link:hover .footer-social-logo {
  fill: #68a2ca;
}

.footer-social-link:focus-visible .footer-social-logo {
  fill: #68a2ca;
}

.footer-social-link:active .footer-social-logo {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 333px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus-visible {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-developer {
  width: 115px;
  padding-top: 8px;
}

.footer-developer-link {
  display: block;
}

.footer-developer-logo {
  fill: #000000;
}

.footer-developer-link:hover .footer-developer-logo {
  fill: #756157;
}

.footer-developer-link:focus-visible .footer-developer-logo {
  fill: #756157;
}

.footer-developer-link:active .footer-developer-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 63px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 717px;
  min-height: 576px;
}

.modal-title {
  text-align: left;
  margin-bottom: 64px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: #f2f2f2;
  border-radius: 50%;
  fill: #000000;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
}

.form-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: 113px 44px;
}

.field-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 577px;
  margin: 0 0 48px 0;
}

.field-group-adults {
  width: 247px;
}

.field-group-children {
  width: 242px;
}

.button-form-search {
  width: 577px;
  padding: 18px 256px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  background: #83b3d3;
  border-radius: 10px;
}

.button-form-search:not(:last-child) {
  margin-bottom: 5px;
}

.button-form-search:hover,
.button-form-search:focus-visible {
  background-color: #68a2ca;
}

.button-form-search:active {
  color: rgba(255, 255, 255, 0.3)
}

.button-form-search:disabled {
  background-color: #e5e5e5;
}

.date-entry-field,
.date-departure-field {
  width: 440px;
  margin-left: auto;
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-position: 400px center;
}

.field-wrapper {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.adults-field,
.children-field {
  z-index: 1;
  width: 30px;
  padding: 12px 10px;
  line-height: 20px;
  border-radius: 0;
}

.field-label {
  align-self: center;
  width: 130px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}

.button-increment,
.button-decrement {
  width: 40px;
  padding: 0;
  background-color: #f2f2f2;
}

.button-decrement {
  border-radius: 4px 0 0 4px;
}

.button-increment {
  border-radius: 0 4px 4px 0;
}

.button-decrement-icon path,
.button-increment-icon path {
  fill: #756157;
  fill-opacity: 0.3;
}

.button-decrement:hover path,
.button-increment:hover path {
  fill: #000000;
  fill-opacity: 1;
}

.button-decrement:focus-visible path,
.button-increment:focus-visible path {
  fill: #000000;
  fill-opacity: 1;
}

.button-decrement:focus-visible .button-decrement-icon,
.button-increment:focus-visible .button-increment-icon {
  border-radius: 4px;
  outline: 3px solid #82b3d3;
}

.button-decrement:active path,
.button-increment:active path {
  fill: #756157;
  fill-opacity: 0.3;
}

.field-message {
  position: absolute;
  top: 52px;
  left: 137px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 21px;
}

.field-message-danger {
  color: #ff5757;
}

.field-message-light {
  color: #333333;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 11px;
}

.tooltip-toggle {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: #83b3d3;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: #68a2ca;
}

.tooltip-wrapper {
  display: none;
}

.tooltip-text {
  position: absolute;
  top: 41px;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  width: 256px;
  min-height: 143px;
  padding: 20px 18px 18px 21px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.tooltip-text-icon {
  position: absolute;
  top: 32px;
  right: 4px;
}

.tooltip-toggle:hover + .tooltip-wrapper,
.tooltip-toggle:focus + .tooltip-wrapper {
  display: block;
}

.hotel-catalog {
  margin-bottom: 60px;
}

.header-filter-wrapper {
  margin-bottom: 50px;
  padding: 35px 70px 70px 70px;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
}

.hotel-catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.inner-header {
  position: relative;
  margin-bottom: 40px;
}

.breadcrumbs,
.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 5px;
  left: 23px;
  width: 7px;
  height: 10px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  content: "";
}

.breadcrumbs-item:last-child:after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  margin-right: 28px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus-visible {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link .breadcrumbs-link-icon {
  position: relative;
  top: 2px;
}

.hotel-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.hotel-filter {
  display: grid;
  grid-template-columns: 150px 150px auto 191px;
  column-gap: 70px;
}

.infrastructure-filter {
  grid-column: 1 / 2;
}

.housing-type-filter {
  grid-column: 2 / 3;
}

.price-filter {
  grid-column: 3 / 4;
  margin-left: 69px;
}

.price-filter .catalog-filter-title {
  margin-bottom: 32px;
}

.form-filter-buttons {
  grid-column: 4 / 5;
}

.button-submit,
.button-reset {
  width: 100%;
  padding: 8px 50px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.button-submit {
  margin: 56px 0 32px 0;
  background-color: #82b3d3;
}

.button-submit:hover,
.button-submit:focus-visible {
  background-color: #68a2ca;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3)
}

.button-submit:disabled {
  background-color: #e5e5e5;
}

.button-reset {
  background-color: transparent;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus-visible {
  outline: 3px solid #83B3D3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  opacity: 0.1;
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-checkbox {
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-checkbox,
.control:hover .control-label {
  opacity: 0.6;
}

.control-input:focus-visible + .control-checkbox {
  outline: 3px solid #83b3d3;
}

.control-input:disabled ~ span {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-checkbox::before {
  position: absolute;
  top: 6px;
  right: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../images/marked.svg");
  background-repeat: no-repeat;
  content: "";

}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.control-input[type="radio"] + .control-checkbox {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-checkbox::before {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-label {
  position: relative;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-left: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -20px;
}

.range-wrapper-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
  text-align: left;
}

.range-input {
  box-sizing: border-box;
  width: 143px;
  margin-left: 2px;
  padding: 12px 0 12px 20px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  border-radius: 4px 0 0 4px;
}

.range-input:focus-visible {
  outline: 3px solid #83B3D3;
}

.range-input:active {
  outline: 2px solid #000000;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-label-title {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 0 70px;
}

.found-hotels {
  margin: 7px 201px 0 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.found-hotels-count {
  margin-left: 7px;
}

.select {
  position: relative;
  width: 292px;
  height: 49px;
  margin-right: 69px;
}

.select-control {
  width: 100%;
  padding: 12px 99px 12px 14px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -1px;
  word-spacing: 2px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus-visible {
  border-color: #68a2ca;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  opacity: 0.3;
}

.card-grid-toggle {
  width: 48px;
  height: 48px;
}

.card-grid-toggle:not(:last-child) {
  margin-right: 8px;
}

.card-grid-toggle-icon rect {
  stroke: #E5E5E5;
}

.card-grid-toggle:hover .card-grid-toggle-icon rect,
.card-grid-toggle:active .card-grid-toggle-icon rect {
  stroke: #000000;
}

.card-grid-toggle:focus-visible .card-grid-toggle-icon rect {
  stroke: #68a2ca;
}

.card-grid-toggle-current rect {
  stroke: #000000;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  margin-bottom: 40px;
  padding: 0 70px;
  list-style-type: none;
}

.hotel-card {
  padding: 19px 19px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  text-align: left;
}

.hotel-card-image-link {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-image-link:hover,
.hotel-card-image-link:active {
  outline: 2px solid #68a2ca;
}

.hotel-card-image-link:focus-visible {
  outline: 2px solid #000000;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title-link {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-decoration: none;
  color: #000000;
}

.hotel-card-title-link:hover,
.hotel-card-title-link:focus-visible {
  color: #756157;
}

.hotel-card-title-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.housing-type {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: block;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.housing-price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: block;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.button-detail {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 8px 18px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.button-detail:hover,
.button-detail:focus-visible {
  background-color: #615048;
}

.button-detail:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-to-favorite {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 8px 18px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82b3d3;
}

.button-to-favorite:hover,
.button-to-favorite:focus-visible {
  background-color: #68a2ca;
}

.button-to-favorite:active {
  color: rgba(255, 255, 255, 0.3)
}

.button-added-favorite {
  background-color: #7db54f;
}

.button-added-favorite:hover,
.button-added-favorite:focus-visible {
  background-color: #6C9E42;
}

.button-added-favorite:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotels-rating {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  display: block;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-class {
  background-repeat: no-repeat;
}

.hotel-class-two {
  background-image: url("../images/hotel-stars/two-stars.svg");
}

.hotel-class-three {
  background-image: url("../images/hotel-stars/three-stars.svg");
}

.hotel-class-four {
  background-image: url("../images/hotel-stars/four-stars.svg");
}

.pagination-container {
  position: relative;
  width: 1060px;
  padding: 40px 70px 0 70px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination::before {
  position: absolute;
  top: 0;
  width: 1060px;
  border-top: 1px solid #e6e6e6;
  content: "";
}

.pagination-item {
  margin-right: 8px;
}

.pagination-curtail {
  margin-right: 76px;
}

.pagination-curtail::before  {
  position: absolute;
  top: 75px;
  left: 364px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-image: url("../images/pagination.svg");
  background-repeat: no-repeat;
  content: "";

}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 10px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus-visible {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover,
.pagination-current:focus-visible,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}
